@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --darkBlue: rgba(11, 52, 95, 0.33);
  --darkerBlue: rgb(9, 31, 54);
  --cardOpacity: rgba(6, 22, 40, 0.819);
  --lightDarkBlue: rgba(11, 52, 95, 0.922);
  --grey: #6b7577;
  --gold: #9d996a;
  --light-transparent: rgba(237, 248, 249, 0.752);
  --light-gradient: linear-gradient(
    180deg,
    rgba(11, 52, 95, 0.33) 75.52%,
    rgba(0, 12, 23, 0.154) 100%
  );
  --transition: all 0.2s ease-in-out;
  --nav-height: 4rem;
}

img {
  width: 100%;
}

body,
html {
  font-family: "Lato", sans-serif;
  scroll-padding-top: var(--nav-height);
  scroll-behavior: smooth;
  background-color: #000000;
  color: var(--light-transparent);
}

.mainNav {
  position: fixed;
  width: 100%;
  z-index: 100;
  padding: 1rem 2rem;
  transition: var(--transition);

  .navList {
    display: flex;
    justify-content: center;
    gap: 2rem;
    list-style: none;
  }

  .navLink {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;

    &:link,
    &:visited,
    &:active {
      color: var(--light);
      transition: var(--transition);
    }
  }

  &.applyBackground {
    background-color: rgb(4, 21, 31);
    box-shadow: 0 3px 2px var(--darkBlue);

    .navLink {
      &:link,
      &:visited,
      &:active {
        color: var(--gold);
        font-weight: 600;
      }
    }
  }
}

.hero {
  display: grid;
  place-items: center;
  background-image: url("images/bg-spoon_Edit.jpg");
  overflow-y: hidden;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  color: #fff;
  text-align: center;
  position: relative;

  &__arrow {
    position: absolute;
    bottom: 15px;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--lightDarkBlue);
    transform: scale();
    animation: bounce 1500ms alternate;

    &:hover,
    &:focus {
      outline: none;
      transition: var(--transition);
      color: var(--gold);
      animation: bounce 1500ms infinite;
    }
  }
}

@keyframes bounce {
  25%,
  75% {
    transform: translateY(-40%) scale(1.4);
    transition: scale ease;
  }
}

h2 {
  font-size: 2rem;
  text-align: center;
  margin: 2rem 2rem 1.5rem;
}

input {
  font-family: inherit;
  font-size: inherit;
  display: block;
  width: calc(100% - 4rem);
  max-width: 500px;
  padding: 0.5rem 0.8rem;
  margin: 0 auto;
  background-color: var(--darkBlue);
  color: var(--grey);
  border-radius: 10px;
  outline: none;
  border: none;
  margin-bottom: 1.5rem;
}
input:focus {
  background-color: rgba(11, 52, 95, 0.547);
  transition: var(--transition);
}

.blog-posts {
  display: grid;
  place-items: center;
  padding: 2.5rem 2rem;
  max-width: 1000px;
  margin: 0 auto;
  border: 1px solid hsla(55, 21%, 52%, 0.368);
  border-radius: 10px;
  // background-color: rgba(21, 36, 80, 0.341);
  background-color: rgb(4, 21, 31);

  .card-container {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

    .card {
      display: grid;
      position: relative;
      align-content: space-between;
      height: 400px;
      overflow: hidden;
      border-radius: 10px;

      &__desc {
        opacity: 0;
        padding: 1.5rem;
        transition: var(--transition);
      }

      &__img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;

        transition: var(--transition);
      }

      .card__meta {
        z-index: 1;
        background-color: var(--cardOpacity);
        padding: 1.5rem;
        transition: var(--transition);
        border-radius: 0 0 10px 10px;

        &--title {
          font-size: 1.2rem;
          color: #ccc;
          display: block;
          margin-bottom: 1rem;
          font-weight: 600;
          text-decoration: none;
        }

        &--taglist {
          display: flex;
          gap: 0.5rem;
          flex-wrap: wrap;
          text-decoration: none;
          list-style: none;

          &-item {
            padding: 0.5rem 0.9rem;
            background-color: hwb(207 7% 73%);
            color: #ccc;
            text-decoration: none;
            text-align: center;
            border-radius: 20px;
            font-size: 0.8rem;

            &:hover {
              color: var(--gold);
              transition: var(--transition);
            }
          }
        }
      }
    }
    .card:hover {
      &::after {
        content: "";
        background-color: var(--cardOpacity);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        // border-radius: 0 0 10px 10px;
        border-radius: 10px;
        z-index: 10;
      }

      .card__desc {
        opacity: 1;
        z-index: 100;
      }

      .card__meta {
        background-color: transparent;
        z-index: 100;
      }

      .card__img {
        transform: scale(1.2);
      }
    }
  }
}
