@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --darkBlue: rgba(11, 52, 95, 0.33);
  --darkerBlue: rgb(9, 31, 54);
  --cardOpacity: rgba(6, 22, 40, 0.819);
  --lightDarkBlue: rgba(11, 52, 95, 0.922);
  --grey: #6b7577;
  --gold: #9d996a;
  --light-transparent: rgba(237, 248, 249, 0.752);
  --light-gradient: linear-gradient(
    180deg,
    rgba(11, 52, 95, 0.33) 75.52%,
    rgba(0, 12, 23, 0.154) 100%
  );
  --transition: all 0.2s ease-in-out;
  --nav-height: 4rem;
}

img {
  width: 100%;
}

body,
html {
  font-family: "Lato", sans-serif;
  scroll-padding-top: var(--nav-height);
  scroll-behavior: smooth;
  background-color: #000000;
  color: var(--light-transparent);
}

.mainNav {
  position: fixed;
  width: 100%;
  z-index: 100;
  padding: 1rem 2rem;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.mainNav .navList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  list-style: none;
}

.mainNav .navLink {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.mainNav .navLink:link, .mainNav .navLink:visited, .mainNav .navLink:active {
  color: var(--light);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.mainNav.applyBackground {
  background-color: #04151f;
  -webkit-box-shadow: 0 3px 2px var(--darkBlue);
          box-shadow: 0 3px 2px var(--darkBlue);
}

.mainNav.applyBackground .navLink:link, .mainNav.applyBackground .navLink:visited, .mainNav.applyBackground .navLink:active {
  color: var(--gold);
  font-weight: 600;
}

.hero {
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-image: url("images/bg-spoon_Edit.jpg");
  overflow-y: hidden;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  color: #fff;
  text-align: center;
  position: relative;
}

.hero__arrow {
  position: absolute;
  bottom: 15px;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--lightDarkBlue);
  -webkit-transform: scale();
          transform: scale();
  -webkit-animation: bounce 1500ms alternate;
          animation: bounce 1500ms alternate;
}

.hero__arrow:hover, .hero__arrow:focus {
  outline: none;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  color: var(--gold);
  -webkit-animation: bounce 1500ms infinite;
          animation: bounce 1500ms infinite;
}

@-webkit-keyframes bounce {
  25%,
  75% {
    -webkit-transform: translateY(-40%) scale(1.4);
            transform: translateY(-40%) scale(1.4);
    -webkit-transition: scale ease;
    transition: scale ease;
  }
}

@keyframes bounce {
  25%,
  75% {
    -webkit-transform: translateY(-40%) scale(1.4);
            transform: translateY(-40%) scale(1.4);
    -webkit-transition: scale ease;
    transition: scale ease;
  }
}

h2 {
  font-size: 2rem;
  text-align: center;
  margin: 2rem 2rem 1.5rem;
}

input {
  font-family: inherit;
  font-size: inherit;
  display: block;
  width: calc(100% - 4rem);
  max-width: 500px;
  padding: 0.5rem 0.8rem;
  margin: 0 auto;
  background-color: var(--darkBlue);
  color: var(--grey);
  border-radius: 10px;
  outline: none;
  border: none;
  margin-bottom: 1.5rem;
}

input:focus {
  background-color: rgba(11, 52, 95, 0.547);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.blog-posts {
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding: 2.5rem 2rem;
  max-width: 1000px;
  margin: 0 auto;
  border: 1px solid rgba(158, 154, 107, 0.368);
  border-radius: 10px;
  background-color: rgba(4, 21, 31, 0.6);
}

.blog-posts .card-container {
  display: -ms-grid;
  display: grid;
  grid-gap: 2rem;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.blog-posts .card-container .card {
  display: -ms-grid;
  display: grid;
  position: relative;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  height: 400px;
  overflow: hidden;
  border-radius: 10px;
  border: 3px solid rgba(21, 0, 0, 0.205);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.blog-posts .card-container .card__desc {
  opacity: 0;
  padding: 1.5rem;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.blog-posts .card-container .card__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.blog-posts .card-container .card .card__meta {
  z-index: 1;
  background-color: var(--cardOpacity);
  padding: 1.5rem;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  border-radius: 0 0 10px 10px;
}

.blog-posts .card-container .card .card__meta--title {
  font-size: 1.2rem;
  color: #ccc;
  display: block;
  margin-bottom: 1rem;
  font-weight: 600;
  text-decoration: none;
}

.blog-posts .card-container .card .card__meta--taglist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-decoration: none;
  list-style: none;
}

.blog-posts .card-container .card .card__meta--taglist-item {
  padding: 0.5rem 0.9rem;
  background-color: hwb(207 7% 73%);
  color: #ccc;
  text-decoration: none;
  text-align: center;
  border-radius: 20px;
  font-size: 0.8rem;
}

.blog-posts .card-container .card .card__meta--taglist-item:hover {
  color: var(--gold);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.blog-posts .card-container .card:hover::after {
  content: "";
  background-color: var(--cardOpacity);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  z-index: 10;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.blog-posts .card-container .card:hover .card__desc {
  opacity: 1;
  z-index: 100;
}

.blog-posts .card-container .card:hover .card__meta {
  background-color: transparent;
  z-index: 100;
}

.blog-posts .card-container .card:hover .card__img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media screen and (max-width: 470px) {
  body {
    position: relative;
    overflow-x: hidden;
    font-size: 70%;
  }
  .blog-posts {
    padding: 0;
  }
  .hero {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
    scale: 2;
    background-size: contain;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .hero__arrow {
    bottom: 120px;
    font-size: 80%;
  }
}
/*# sourceMappingURL=style.css.map */