@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --darkBlue: rgba(11, 52, 95, 0.33);
  --lightDarkBlue: rgba(11, 52, 95, 0.922);
  --grey: #6b7577;
  --gold: #9d996a;
  --light-transparent: rgba(237, 248, 249, 0.752);
  --light-gradient: linear-gradient(
    180deg,
    rgba(11, 52, 95, 0.33) 75.52%,
    rgba(0, 12, 23, 0.154) 100%
  );
  --transition: all 0.2s ease-in-out;
  --nav-height: 4rem;
}

img {
  width: 100%;
}

body,
html {
  font-family: "Lato", sans-serif;
  scroll-padding-top: var(--nav-height);
  scroll-behavior: smooth;
  background-color: #000000;
  color: var(--light-transparent);
}

.mainNav {
  position: fixed;
  width: 100%;
  z-index: 100;
  padding: 1rem 2rem;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.mainNav .navList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  list-style: none;
}

.mainNav .navLink {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.mainNav .navLink:link, .mainNav .navLink:visited, .mainNav .navLink:active {
  color: var(--light);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.mainNav.applyBackground {
  background-color: #04151f;
  -webkit-box-shadow: 0 3px 2px var(--darkBlue);
          box-shadow: 0 3px 2px var(--darkBlue);
}

.mainNav.applyBackground .navLink:link, .mainNav.applyBackground .navLink:visited, .mainNav.applyBackground .navLink:active {
  color: var(--gold);
  font-weight: 600;
}

.hero {
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-image: url("images/bg-spoon_Edit.jpg");
  overflow-y: hidden;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  color: #fff;
  text-align: center;
  position: relative;
}

.hero__arrow {
  position: absolute;
  bottom: 15px;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--lightDarkBlue);
  -webkit-transform: scale();
          transform: scale();
  -webkit-animation: bounce 1500ms alternate;
          animation: bounce 1500ms alternate;
}

.hero__arrow:hover, .hero__arrow:focus {
  outline: none;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  color: var(--gold);
  -webkit-animation: bounce 1500ms infinite;
          animation: bounce 1500ms infinite;
}

@-webkit-keyframes bounce {
  25%,
  75% {
    -webkit-transform: translateY(-40%) scale(1.4);
            transform: translateY(-40%) scale(1.4);
    -webkit-transition: scale ease;
    transition: scale ease;
  }
}

@keyframes bounce {
  25%,
  75% {
    -webkit-transform: translateY(-40%) scale(1.4);
            transform: translateY(-40%) scale(1.4);
    -webkit-transition: scale ease;
    transition: scale ease;
  }
}

h2 {
  font-size: 2rem;
  text-align: center;
  margin: 2rem 2rem 1.5rem;
}

input {
  font-family: inherit;
  font-size: inherit;
  display: block;
  width: calc(100% - 4rem);
  max-width: 500px;
  padding: 0.5rem 0.8rem;
  margin: 0 auto;
  background-color: var(--darkBlue);
  color: var(--grey);
  border-radius: 10px;
  outline: none;
  border: none;
}

input:focus {
  background-color: rgba(11, 52, 95, 0.547);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.blog-posts {
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding: 2.5rem 2rem;
  max-width: 1000px;
}
/*# sourceMappingURL=style.css.map */